
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color: #fff;
    text-decoration: none;
}

.icono{
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 100;
}


.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    background: #FBD3E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 1s ease;
}

.uno{
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos{
    -webkit-clip-path: circle(140% at 0 0);
    clip-path: circle(140% at 0 0);
}
